/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */
@import "bootstrap/dist/css/bootstrap";
@import 'react-toastify/dist/ReactToastify';
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500;700&display=swap');
@import 'variables';

html, body {
    height: 100%;
}
body {
    font-family: "Quicksand" !important;
    color: $dark-color !important;
    background-color: $bg-gray !important;
    font-weight: 500;
}

body::-webkit-scrollbar-track {
	background: $bg-gray;
}

body::-webkit-scrollbar {
	background: rgba(0, 0, 0, 0);
	width: 10px;
	height: 0px;
}

body::-webkit-scrollbar-thumb {
	background: #ddd;
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
	background: #bbb;
}

h1,h2,h3,h4 {
    font-family: "Quicksand" !important;
    font-weight: bold !important;
}

.bg-background {
    background-color: $bg-gray;
}

.text-dark-custom {
    color: $dark-color !important;
}
.text-white-custom {
    color: $bg-white !important;
}
.text-gray-darken {
    color: $bg-gray-darken !important;
}

.text-secondary-dark {
    color: $dark-secondary-color !important;
}
.text-white {
    color: $bg-gray !important;
}

.input-custom {
    padding: .5rem 1rem;
    border: 0px !important;
    width: auto;
    box-shadow: $inner-shadow-inputs !important;

    &:focus {
        outline: none !important;
        box-shadow: $inner-shadow-inputs !important;
    }
}

.btn {
    font-weight: 700 !important;
}

.btn-primary, .swal2-confirm {
    background: $bg-blue !important;
    border: none !important;
    box-shadow: -4px -4px 5px rgba(255, 255, 255, 1), 4px 4px 10px rgba(121, 91, 206, 0.3) !important;

    &:focus {
        outline: none !important;
        box-shadow: -4px -4px 5px rgba(255, 255, 255, 1), 4px 4px 10px rgba(121, 91, 206, 0.3) !important;
    }
    &:active {
        box-shadow: $inner-shadow-buttons !important;
    }
}

.bg-blue {
    background: $bg-blue !important;
}

.min-h-100 {
    min-height: 100% !important;
}

.btn-green {
    background: $bg-green !important;
    border: none !important;
    box-shadow: -4px -4px 10px rgba(255, 255, 255, 1), 4px 4px 10px rgba(0, 197, 173, 0.3);
    
    &:focus {
        outline: none !important;
        box-shadow: -4px -4px 10px rgba(255, 255, 255, 1), 4px 4px 10px rgba(0, 197, 173, 0.3) !important;
    }
    &:active {
        box-shadow: $inner-shadow-buttons !important;
    }
}


.btn-light, .swal2-cancel {
    background-color: $bg-gray !important;
    border: none !important;
    box-shadow: $small-shadow !important;
    
    &:focus {
        outline: none !important;
        box-shadow: $small-shadow !important;
    }
    &:active {
        box-shadow: $inner-shadow-buttons !important;
    }
}

.swal2-confirm, .swal2-cancel {
    border-radius: 30px !important;
    font-weight: 700 !important;
    color: $bg-white !important;
}

.swal2-cancel {
    color: $dark-color !important;
    box-shadow: $small-shadow !important;
    background-color: $bg-white !important;
    &:hover {
        color: $dark-color !important;
        box-shadow: $small-shadow !important;
        background-color: $bg-white !important;
        background: $bg-white !important;
    }
    &:focus {
        outline: none !important;
        box-shadow: $inner-shadow-buttons  !important;
    }
}

.swal2-modal {
    background-color: $bg-gray !important;
    border-radius: 10px !important;
}

.rounded-buttons {
    border-radius: 30px !important;
}
.bg-gray {
    background-color: $bg-gray !important;
}

.shadow-sm-custom {
    box-shadow: $small-shadow !important;
}

.card-task {
    background-color: $bg-white;
    box-shadow: $shadow-task-card;
    border-radius: 10px;
    transition: 0.2s ease;
    animation: showTask .4s ease;
    .btn-ctrl {
        width: 38px;
        height: 38px;
        display: flex;
        align-items: center;
        justify-content: center;

        &:active {
            box-shadow: $inner-shadow-buttons !important;
        }
    }

    .cont-task-name {
        flex: 1;
    }
    .task-name {
        width: 100% !important;
        font-size: 18px;
        border: none !important;
        background-color: transparent !important;
        color: $dark-color !important;
        &:focus {
            outline: none !important;
            box-shadow: none !important;
        }
    }

    &--checked {
        color: $dark-secondary-color !important;
        transition: 0.2s ease;
        box-shadow: $inner-shadow-task-card;
        .task-name {
            text-decoration: line-through;
        }
    }
}

.cont-chk-custom {
    height: 32px;
    .lbl-chk-custom {
        width: 32px;
        height: 32px;
        background-color: $bg-white !important;
        box-shadow: 4px 2px 10px rgba(0, 0, 0, 0.1), -2px -2px 3px #FFFFFF;
        border-radius: 10px;
        cursor: pointer;
        transition: 0.2s ease;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 3px solid $bg-white;
    }
    .chk-custom {
        display: none;

        &:checked + .lbl-chk-custom {
            background: $bg-green !important;
            box-shadow: $inner-shadow-radios;
            &:active {
                box-shadow: $inner-active-shadow-radios;
            }
        }
        &:disabled + .lbl-chk-custom{
            opacity: 0.5;
        }
    }
}

.shadow-lg-custom {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1) !important;
}

.profile-picture {
    width: 48px;
    height: 48px;
    border-radius: 24px !important;
    box-shadow: $shadow-task-card;
}

.btn-profile-nav {
    width: 32px;
    height: 32px;
    border-radius: 16px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 !important;
    box-shadow: $shadow-task-card;

    &:active {
        box-shadow: $inner-shadow-buttons !important;
    }
}

#ctrlTaskMain {
    z-index: 0;
}

.dropdown-menu {
    z-index: 100;
    border-radius: 10px !important;
    border: 0px solid !important;
    background-color: $bg-gray !important;
    color: $dark-color !important;
}

.dropdown-toggle::after {
    content: '' !important;
    display: none !important;
}

.dropdown-item {
    &:hover {
        background-color: $bg-gray-darken !important;
    }
    &:active {
        background-color: $bg-gray-darken !important;
        color: $dark-color !important;
    }
}
.shadow-md-custom {
    box-shadow: 0px 4px 10px rgba(0,0,0,0.05);
}

.Toastify__toast {
    font-family: "Quicksand" !important;
    font-weight: 500 !important;
}

.Toastify__toast--default {
    background-color: $bg-white !important;
    color: $dark-color !important;
}

.rounded-custom-bottom {
    border-radius: 0px 0px 20px 20px;
}

.btn-edit {
    width: 42px;
    height: 42px;
    border-radius: 21px !important;
    color: $dark-color !important;
    background: $bg-gray !important;
    
    &:active {
        box-shadow: $inner-shadow-buttons !important;
    }
}

.cont-profile-picture {
    width: 240px;
    height: 240px;
    border-radius: 120px;
    border: 8px solid $bg-gray;
    margin-bottom: -80px;
    position: relative;


    & .btn-edit {
        position: absolute;
        bottom: 0rem;
        right: .5rem;
    }
}

.container-name-profile {
    position: relative;
    & .btn-edit {
        position: absolute;
        top: 0rem;
        right: 1rem;
    }
}


@keyframes showTask {
    from {
        opacity: 0;
        box-shadow: none;
    } to {
        opacity: 1;
        box-shadow: $shadow-task-card;
    }
}